*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    font-family: sans-serif;
}
.o-container{
    width: 100vw;
    height: 100vh;
    max-width: 1336px;
    margin: 0 auto;
    display: grid;
    grid-template: 4rem 1fr 4rem / 1fr;
}